  .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .table-photo{
            padding: 100px;
            width:50%;
        }

        .table-photo a{
            text-decoration:none;
            color:white;
            font-size:30px;
            text-align:center;
        }