
#logo{
height:65px;
}

body {
  heigh:665px;
  background-image: url("https://img.ecartelera.com/noticias/fotos/28700/28760/1.jpg");
  background-size: 20rem;
}

#Juego
{
color: black;
}

.DivisionPag {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: minmax(100px, auto);
}
.PrimerCuadro{
    grid-column: 1;
    grid-row: 1;
}
.SegundoCuadro{
    text-align:center;
    grid-column: 1;
    grid-row: 2;
}

#generar{
    background:#ffffff;
    border:none;
    cursor:pointer;
    height:75px;
}
#Frase{
    font-weight:bold;
    font-style:italic;
    font-size: 35px;
}
#Pelicula{
font-weight:bold;
    font-style:italic;
    font-size: 20px;
    text-align:right;
    margin-left:50px;
    text-align:center;
}

#Autor{
font-weight:bold;
    font-style:italic;
    font-size: 20px;
    text-align:right;
    margin-right:50px;
    text-align:center;
}
#caja{
    background: #000;
    color:white;
    border-radius: 15px;
    margin-left:15%;
    margin-right:15%;
    text-align:center;
}
#cajaTitulo{
    background: #000;
    border-radius: 15px;
    margin-left:35%;
    margin-right:35%;
    text-align:center;
}


