         .main{
    background-image: url('https://album.mediaset.es/eimg/2018/10/02/5r988wxOL5q8lXKyRsXDT6.jpg?w=1200&h=900');
   background-color:black;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:0px;
    padding:350px;
    color:black;
    }
