   .main{
     background-color:black;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:0px;
    padding:400px;
    color:black;
    }

    .label
    {
        color: #EBD7D7;
    }

    fieldset
    {
        width: 50em;
        background-color: #FAEDED;
    }

    p
    {
        font-size: 20px;
        color: white;
    }