   .main{
    background-image: url('https://imagenes.milenio.com/vYVzydR-5cdwES1R84qxj2vAXrs=/936x566/https://www.milenio.com/uploads/media/2020/09/29/te-gusta-este-refresco-shutterstock.jpg');
    background-color:black;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-top:0px;
    padding:250px;
    color:black;
    }